@use "sass:map";
@import "../variables";
@import "../functions/functions";

@mixin container() {
  /* generate width container for each breakpoints */
  @each $breakpoint, $value in $grid-breakpoints {
    @media (min-width: $value) {
      max-width: valueMap($container-max-widths, $breakpoint);
      padding-left: calc(0.5 * valueMap($gutter, $breakpoint));
      padding-right: calc(0.5 * valueMap($gutter, $breakpoint));
    }
  }

  margin-inline: auto;
}

@mixin row() {
  display: flex;
  flex-wrap: wrap;

  /* generate gutter for each breakpoints */
  @each $breakpoint, $value in $grid-breakpoints {
    @media (min-width: $value) {
      margin-left: calc(-0.5 * valueMap($gutter, $breakpoint));
      margin-right: calc(-0.5 * valueMap($gutter, $breakpoint));
    }
  }
}

@mixin col($breakpoint, $i) {
  .col-#{$breakpoint}-#{$i} {
    flex: 0 0 auto;
    width: calc((100% / $grid-columns) * $i);
    padding-left: calc(0.5 * valueMap($gutter, $breakpoint));
    padding-right: calc(0.5 * valueMap($gutter, $breakpoint));
  }
}
