/* reset html */
html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* media defaults */
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* reset headlines + paragraph */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
}

p {
  line-height: 1.5;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
}

/* reset form elements */
ul,
ol {
  list-style: none;
}

input,
textarea {
  display: block;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}

textarea {
  resize: vertical;
}

label {
  display: inline-block;
}

button {
  display: block;
  cursor: pointer;
}

/* reset anchor tag */
a {
  display: inline-block;
  text-decoration: none;
}

/* reset table */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
