html {
  font-size: 62.5%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  // background-color: var(--primary-color);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* reset title tag */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.25;
}

h4,
h5,
h6 {
  font-weight: 400;
}

/* reset paragraph tag */
p {
  margin: 0;
  line-height: 1.5;
  font-weight: 400;
}

/* reset link tag */
a {
  display: inline-block;
  text-decoration: none;
}

/* reset btn tag */
button {
  display: block;
  cursor: pointer;
}

/* reset list tag */
ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  display: inline-block;
}

/* reset input tag */
label {
  display: inline-block;
}

input,
textarea {
  display: block;
  appearance: none;
  outline: none;
}

/* other reset */
blockquote {
  margin: 0;
}
