/* utility class */
.image-responsive {
  max-width: 100%;
  height: auto;
}

.truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.mx-auto {
  margin-inline: auto;
}

.full-h-window {
  height: 100vh;
}

.full-h-block {
  height: 100%;
}

/* utility flexbox class */
.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}
